work/
.nextflow*
nextflow.log*
*h5ad
*mtx
study_names.txt
test/
cortex_only/
all_brain/
forebrain_only/
hsapiens_new/
new_hsap.txt
hsap_mmus_forebrain_small_samples/
nairuz_data.txt
nairuz_data/
study_names_human.txt
to_removepsychEncode psychEncode_author psychEncode.txt
psychEncode**
