

params.study_names = "study_names.txt"
params.outdir = "$projectDir/test"
params.GEMMA_USERNAME = System.getenv('GEMMA_USERNAME')
params.GEMMA_PASSWORD = System.getenv('GEMMA_PASSWORD')

process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'local'
  // clusterOptions = '-C thrd64 --cpus-per-task=4'
}
// executor {
  // queueSize = 90 
// }

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }

}