
conda.enabled = true

params.study_names = "/space/grp/rschwartz/rschwartz/get_gemma_data.nf/study_names_filtered.txt"
params.GEMMA_USERNAME = System.getenv('GEMMA_USERNAME')
params.GEMMA_PASSWORD = System.getenv('GEMMA_PASSWORD')
params.author_submitted = true
params.outdir = "$projectDir/${params.study_names}_author_${params.author_submitted}"
params.write_samples = true
process {
  cache = 'standard'  // Options: 'standard' (default), 'deep', 'lenient', or 'false'
  executor = 'local'
  // clusterOptions = '-C thrd64 --cpus-per-task=4'
}
// executor {
  // queueSize = 90 
// }

nextflow {
  clean {
    afterRun = true  // Default is false; set to true to clean up automatically
  }
}

profiles {
  conda {
    conda.enabled = true
  }

}